/* ===== Auth Background ===== */

body {
    background-color: #f1ece7;
}

/* ===== Auth Card ===== */

.login,
.register {
    width: 100%;
    background-color: #ffffff;
    padding: 70px 80px 40px;
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid #e0dcd7;
}

.login__title,
.register__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e0dcd7;
    background-color: #f9f7f5;
}

input::placeholder {
    color: #c5bfb8;
}

.login button,
.register button {
    margin: 20px auto 0;
}

/* ===== Button ===== */

.auth-button {
    text-align: center;
    margin-top: 30px;
}

.auth-button button {
    width: 120px;
    height: 40px;
    background-color: #7b6a58;
    color: #fff;
    border: none;
}

