/* ===== Base ===== */

body {
    margin: 0;
    color: #7b6a58;
    font-family: "Times New Roman", "Hiragino Mincho ProN", "Yu Mincho", serif;
}

/* ===== Header ===== */

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0dcd7;
    padding: 5px 0;
    text-align: center;
    position: relative;
}

.header__logo {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
}

/* ===== Common Header Button ===== */

.header-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    padding: 0 10px;

    font-size: 14px;
    background-color: #f5f3f1;
    color: #c5bfb8;

    border: 1px solid #d9cfc5;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

/* ===== Layout ===== */

.main {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
}
